@import "common";

#attempt-details-panel {
    
    padding: 30px 20px;
    width: 100%;
    display: block;
    border-radius: 20px;
    background-color: $fg-color;
    box-sizing: border-box;
    margin-top: 50px;
    
}





