@import-normalize;
@import "common";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');

html {
  min-height: 100vh;
  background-color: $bg-color;
}

body {
  background-color: $bg-color;
  margin: 0;
  min-height: 100vh;
  color: $def-text-color;
  font-family: "Open Sans", 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100vh;
  position: relative;
}

